<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} hello world!
  </h1>
  <h2>la nouvelle couleur est : {{colorFromChild}} </h2>
  <app-color-picker (colorOutput)="onColor($event)" [color]='"yellow"'  #picker >    </app-color-picker>
  
 <br>
 
  <button (click)="picker.reset()">RAZED</button>
  
  <br>
    <br>
      <br>
  
</div>

<div>
 <br>
    <br>
      <br>
      
 <app-first-component></app-first-component>
 
 <app-search-box   [placeholder]="'custom placeholder'" > </app-search-box>
 
</div>